body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url("C:\React Projects\order-summary-component\src\images\pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: hsl(225, 100%, 94%);
  background-blend-mode: darken;
  overflow:hidden;
}

.card {
  display: grid;
  grid-template-columns: 450px;
  grid-template-rows: 210px 210px 210px;
  grid-template-areas: "image" "body" "buttons";

  font-family: 'Red Hat Display', sans-serif;
  border-radius: 18px;
  background: white;
  text-align: center;
}

.card-image{
  grid-area: image;
  background:url("C:\React Projects\order-summary-component\src\images\illustration-hero.svg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  grid-area: body;
}

.card-buttons {
  grid-area: buttons;
}
