body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url("./images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-size: auto;
  background-color: hsl(225, 100%, 94%);
  background-blend-mode: none;
  overflow:hidden;
}

.card {
  display: grid;
  grid-template-columns: 450px;
  grid-template-rows: 210px 420px;
  grid-template-areas: "image" "body";

  font-family: 'Red Hat Display', sans-serif;
  border-radius: 18px;
  background: white;
  text-align: center;
}

.card-image{
  grid-area: image;
  background:url("./images/illustration-hero.svg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  grid-area: body;
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 150px 100px 50px 50px;
  grid-template-areas: "text" "subscription" "proceed" "cancel";
  row-gap: 10px;

  padding: 10px 50px 10px 50px;
}

h2 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.card-body-paragraph {
  line-height: 19pt;
  font-size: 16px;
  font-weight: 500;
  color: hsl(224, 23%, 55%)
}

.card-subscription {
  grid-area: subscription;
  display: grid;
  background-color: hsl(225, 100%, 98%);
}